<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1 class="mb-3">タスク詳細</h1>

  <p>
    <strong>タイトル：</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>内容：</strong>
    <%= @post.content %>
  </p>

  <%= link_to '編集', edit_post_path(@post), class: "btn btn-raised btn-info mr-2" %>
  <%= link_to '戻る', posts_path, class: 'btn btn-raised btn-dark ml-2' %>
</div>
